@model MovieMania.Models.Film
@{
    ViewData["Title"] = "Delete Film";
}

<form method="post" asp-action="DeleteFilm">
    <input asp-for="FilmId" hidden />
    <h1 class="text-center">Are you sure that you want to delete "@ViewBag.Film.Title"?</h1>
    <div class="col text-center">
        <a asp-controller="Catalog" asp-route-Id="@ViewBag.Film.FilmId" asp-action="DeleteFilm" class="btn btn-danger">Yes, I am sure!</a>
        <a asp-action="CatalogIndex" class="btn btn-primary"><i class="fas fa-sign-out-alt"></i>No, bring me back!</a>
    </div>
</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}