@{
    ViewData["Title"] = "Home Page"; 
}

<body id="backgroundImage">
    <div class="text-center" id="headText">
        <h1 class="display-4">Movie Mania</h1>
        <h2>Here you can add you favourite movies or series which you've already watched and rate them.</h2>
    </div>
</body>